@import "~leaflet/dist/leaflet.css";

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 52px;
  letter-spacing: -1.5;
}

.aboutUs {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  color: #1366b2;
  margin-left: 20px;
  margin-top: 30px;
  font-size: 18px;
  width: 600px;

  /* style={{
      color: "white",
      marginLeft: "20px",
      fontSize: "20px",
      gridColumn: "1/span 1",
    }}
   */
}

#mapid {
  font-family: "Montserrat", sans-serif;
  height: 100px;
  width: auto;
}
